<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs')%>
</head>

<body>
    <%-include('./partials/nav.ejs')%>

    <h2>Contact</h2>

    <ul>
        <li>
            <h3>Ig: <a href="#">@alsdkaslvan</a></h3>
        </li>
        <li>
            <h3>Tel: 27846293462794</h3>
        </li>
    </ul>
</body>

</html>