<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>

    <%-include('./partials/nav.ejs')%>

    <h2>Home</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, distinctio fugiat veritatis, quis omnis alias quae culpa ex, et adipisci praesentium odit necessitatibus. A labore in expedita optio, ea fugit?
    Corporis sit iure dignissimos assumenda voluptatibus voluptate molestiae! Ad nobis tempora vero possimus quas, nisi minima amet sapiente eveniet, animi laudantium unde perferendis porro dolorum cupiditate suscipit sint quae culpa.
    Obcaecati, at dolor. Quisquam voluptatum quos iure minus quis, ex aliquam suscipit vel repellendus excepturi nostrum, quo perspiciatis. Officia eligendi maiores ab vero aut id cum commodi ullam, cumque delectus.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, distinctio fugiat veritatis, quis omnis alias quae culpa ex, et adipisci praesentium odit necessitatibus. A labore in expedita optio, ea fugit?
        Corporis sit iure dignissimos assumenda voluptatibus voluptate molestiae! Ad nobis tempora vero possimus quas, nisi minima amet sapiente eveniet, animi laudantium unde perferendis porro dolorum cupiditate suscipit sint quae culpa.
        Obcaecati, at dolor. Quisquam voluptatum quos iure minus quis, ex aliquam suscipit vel repellendus excepturi nostrum, quo perspiciatis. Officia eligendi maiores ab vero aut id cum commodi ullam, cumque delectus.</p>


</body>
</html>